
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

body {
    background-color: gray;
}

/* ------------------------------ Header ------------------------------ */

#header {
    position: fixed;
    
    height: 80px;
    width: 100%;

    font-size: 20px;
    
    background-color: red;
}
#title, #langs, #login {
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
}
#title {
    left: 50%;
    transform: translate(-50%, -50%);
}
#langs {
    left: 3%;
}
#login {
    right: 3%;
}

/* ------------------------------- Sides ------------------------------- */

#frame_left, #frame_right {
    z-index: -1;
    position: fixed;
    
    height: 100%;
    width: 16%;
    
    padding-top: 80px;
    
    background-color: yellow;
}

#groupBanner_left, #adBanner_left {
    position: relative;
    
    width: 80%;
    
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: red;
}
#groupBanner_left {
    height: 30%;
}
#adBanner_left {
    height: 50%;
}

#frame_right {
    left: 84%;
}

#main {
    position: absolute;
         
    width: 68%;
    
    top: 80px;
    left: 16%;
    
    border: none;
}
