
body {
    margin: 0;
    padding: 0;
    
    background-color: blue;
}

header {
    z-index: 0;
    position: fixed;
    
    height: 10%;
    width: 100%;
    
    font-size: 20px;
    
    background-color: red;
}

#langs {
    position: absolute;    
    float: left;

    top: 35%;
    left: 3%;
}

#frame_left {
    z-index: -1;
    position: fixed;
    
    height: 100%;
    width: 16%;    
    
    background-color: yellow;
}

#adBanner_left {
    position: absolute;
        
    height: 50%;
    width: 80%;
    
    top: 20%;
    left: 10%;
    
    background-color: red;
}

#frame_right {
    z-index: -1;  
    position: fixed;  
    
    height: 100%;
    width: 16%;
    
    left: 84%;
    
    background-color: yellow;
}
