
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

html {
    background-color: gray;
}

/* ------------------------------ Header ------------------------------ */

#header {
    position: fixed;
    
    height: 80px;
    width: 100%;

    font-size: 20px;
    
    background-color: red;
}
#title, #langs, #account {
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
}
#title {
    left: 50%;
    transform: translate(-50%, -50%);
}
#langs {
    left: 3%;
}
#account {
    display: flex;
    right: 5%;
}
#login, #signup {
    position: relative;
    
    margin-left: 10px;
    margin-right: 10px;
}
#login:hover, #signup:hover {
    cursor: pointer;
}

/* ------------------------------- Modal ------------------------------- */

#modal {
    z-index: 1;
    position: absolute;
    
    height: 100%;
    width: 100%;
    
    background-color: rgba(0,0,0,0.4);
}
#modal_login {
    z-index: 2;
    
    width: 20%;
    height: 17%;
    
    margin: 20% auto;
    padding-top: 7px;
    
    background-color: white;
}
#modal input {
    height: 40px;
    width: 80%;

    margin: 5px 30px;
    padding: 5px 10px;

    font-size: 20px;
}
#modal input[type=submit] {
    width: 85%;
}

/* ------------------------------ Search ------------------------------ */

#search_bar {
    position: absolute;
    
    height: 56px;
    width: 400px;
    
    right: -450px;
    
    padding: 10px;
    
    font-size: 20px;
    transition: all .5s;
}
#search_icon {
    position: absolute;
    
    height: 30px;
    width: 30px;
    
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}
#search_icon:hover {
    cursor: pointer;
}
.search_bar_show {
    transform: translateX(-130%);
}

/* ------------------------------- Main ------------------------------- */

#main {
    z-index: -1;
    position: absolute;
         
    height: 91.5%;
    width: 84%;
    
    top: 80px;
    left: 16%;
    
    border: none;
}

/* ------------------------------- Sides ------------------------------- */

#frame_left {
    z-index: -1;
    position: fixed;
    
    height: 100%;
    width: 16%;
    
    padding-top: 80px;
    
    background-color: yellow;
}

#groupBanner_left, #adBanner_left {
    position: relative;
    
    width: 80%;
    
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: red;
}
#groupBanner_left {
    height: 30%;
}
#adBanner_left {
    height: 50%;
}

