
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: lightgray;
}

p {
    line-height: 50px;
}

a {
    text-decoration: none;
    color: black;
}

/* --------------------------------------- Header --------------------------------------- */

#header {
    z-index: 0;
    position: fixed;
    
    height: 80px;
    width: 100%;

    font-size: 20px;
    
    background-color: red;
}
#title, #langs, #account {
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
}
#title {
    left: 50%;
    transform: translate(-50%, -50%);
}
#langs {
    left: 3%;
}
#account {
    display: flex;
    right: 5%;
}
#login_btn, #signup_btn, #profile {
    position: relative;    
    margin: 0 10px;
}
#login_btn:hover, #signup_btn:hover {
    cursor: pointer;
}

/* ---------------------------------------- Modal ---------------------------------------- */

#modal {
    z-index: 1;
    display: none;
    position: absolute;
    
    height: 100%;
    width: 100%;
    
    background-color: rgba(0,0,0,0.4);
}
#login_form, #signup_form {
    z-index: 2;
    display: none;
    
    width: 300px;

    margin: 15% auto;
    padding: 20px 15px 10px 15px;
    
    font-size: 20px;
    font-family: monospace;
    
    box-sizing: border-box;
    
    background-color: white;
}
#signup_form {
    width: 500px;
    margin: 10% auto;
}
#modal input, #modal select {
    height: 48px;
    width: 100%;
    
    margin: 8px 0 0 0;
    padding: 12px 12px;
    
    font-size: 16px;
    box-sizing: border-box;
}
#signup_fields {
    display: flex;
}
#userSpecFields, #nonUserSpecFields {
    width: 50%;
}
#userSpecFields {
    margin-right: 10px;
}

/* ------------------------------------ SignupSelect ------------------------------------ */

#signup_bg {
    z-index: 1;
    display: none;
    position: absolute;
    
    height: 100%;
    width: 100%;
}
#signup_select {
    z-index: 2;
    position: absolute;
    
    top: 6%;
    right: 2.2%;
    
    height: 95px;
    width: 200px;
    
    padding: 8px;
    border: solid 1px black;
    box-sizing: border-box;
    
    font-size: 18px;
    background-color: white;
}
#signup_select button,
#signup_select select {
    height: 35px;
    
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
    
    font-size: 15px;
}
#signup_select select {
    height: 33px;
    width: 55%;
}

/* --------------------------------------- Search --------------------------------------- */

#search_bar {
    position: absolute;
    
    height: 80px;
    width: 400px;
    
    right: -450px;
    
    padding: 10px;
    
    font-size: 20px;
    transition: all .5s;
    
    box-sizing: border-box;
}
#search_icon {
    position: absolute;
    
    height: 30px;
    width: 30px;
    
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}
#search_icon:hover {
    cursor: pointer;
}
.search_bar_show {
    transform: translateX(-137.5%);
}

/* ------------------------------------ Main (iFrame) ------------------------------------ */

#main {
    z-index: -2;
    position: absolute;
         
    height: 100%;
    width: 100%;
    
    border: none;
}

/* --------------------------------------- Sides ---------------------------------------- */

#frame_left {
    z-index: -1;
    position: fixed;
    
    height: 100%;
    width: 16%;
    
    padding-top: 80px;

    background-color: yellow;
}

#groupBanner_left, #adBanner_left {
    position: relative;
    
    width: 80%;
    
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);

    background-color: red;
}
#groupBanner_left {
    height: 30%;
}
#adBanner_left {
    height: 50%;
}