
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

body {
    margin-left: 16%;
    background-color: white;
}

/* ------------------------------ Main ------------------------------ */

#main {
    position: absolute;
    
    width: 84%;
    
    padding-top: 80px;

    box-sizing: border-box;
    background-color: white;
}

#concerts {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
    
    padding: 10px 10px;
    
    box-sizing: border-box;
    background-color: lightgreen;
}

#list_concerts {
    width: 49%;
    background-color: lightgreen;
    text-align: center;
    padding: 3px 3px;
}
#list_musicians {
    width: 49%;
    background-color: lightgreen;
    text-align: center;
    padding: 3px 3px;
}

#concert_box {
    height: 200px;
    width: 100%;
    
    margin: 10px 0px;
    padding: 10px;
    
    box-sizing: border-box;
    background-color: lightcyan;
}
#concert_img {
    width: 100%;
    height: 60%;    
}
#concert_info {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
}


