
/* ----------------------------------------- Main ----------------------------------------- */

#main {
    width: 84%;    
    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#list_concerts, 
#list_musicians {
    width: 49%;
    background-color: lightpink;
    text-align: center;
    padding: 5px;
}

#concert_box {
    height: 200px;
    width: 100%;
    
    margin: 10px 0px;
    padding: 10px;
    
    box-sizing: border-box;
    background-color: lightpink;
}
#concert_img {
    width: 100%;
    height: 60%;    
}
#concert_info {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
}