
html {
	font-size: 20px;
}

/* ------------------- Main ------------------- */

#main {
    width: 84%;
}

/* ---------------- Musicians ---------------- */

th {
	height: 50px;
	min-width: 200px;

	font-size: 20px;
	text-align: left;
}
th .header img {
	height: 12px;
	width: 12px;
}
th .header:hover {
	cursor: pointer;
}
td {
	height: 30px;
}

input[type=button] {
	padding: 5px 8px;
}