
/* ------------------- Main ------------------- */

#main {
    width: 84%;
}

/* ---------------- Musicians ---------------- */

th {
	height: 50px;
	min-width: 200px;

	font-size: 20px;
	text-align: left;
}
td {
	height: 30px;
}

input[type=button] {
	padding: 5px 8px;
}