
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 50px;
}

body {
    margin-left: 16%;
    padding-top: 80px;
}

#main {
    position: absolute;
    overflow-y: auto;
    
    height: 91.5%;
    width: 68%;
    
    padding: 25px 30px 20px 30px;
    box-sizing: border-box;
    
    background-color: red;
}

#frameTitle {
    margin-bottom: 10px;
    font-size: 20px;    
}
#frameTitle * {
    display: inline;
}
#frameTitle div:hover {
    cursor: pointer;
}

/* ---------------- Concert Box ---------------- */

#concerts {
    display: inline-flex;
    flex-wrap: wrap;
        
    width: 100%;

    background-color: #99bbff;
}
.concert_box {
    border: solid 1px #99bbff;
    position: relative;

    height: 500px;
    width: 33.3%;
    min-width: 350px;
    
    padding: 15px;
    box-sizing: border-box;
    
    background-color: yellow;
}
#concert_img {
    height: 60%;
    width: 100%;
}
#concert_info {
    display: block;
    text-align: center;
    vertical-align: middle;

    width: 100%;

    background-color:   #dd99ff;
}

#titulo {
    background-color: #e066ff; 
}

#nombre {
    font-size: 64px;
}
