
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 50px;
}

body {
    margin-left: 16%;
    padding-top: 80px;
    overflow: hidden;
}

#main {
    position: absolute;
    overflow-y: auto;
    
    height: 91.5%;
    width: 68%;
    
    padding: 25px 30px 20px 30px;
    box-sizing: border-box;
}

#frameTitle {
    margin-bottom: 10px;
    font-size: 20px;    
}
#frameTitle * {
    display: inline;
}
#frameTitle div:hover {
    cursor: pointer;
}

/* ---------------- Concert Box ---------------- */

#concerts {
    display: inline-flex;
    flex-wrap: wrap;
        
    width: 100%;

    background-color: green;
}
.concert_box {
    border: solid 1px #99bbff;
    position: relative;

    height: 500px;
    width: 33.3%;
    min-width: 350px;
    
    padding: 0 0;
    box-sizing: border-box;
    
    border: solid 1px black;
    background-color: yellow;
}
#concert_img {
    height: 60%;
    width: 100%;
}
#concert_info {
    display: flex;
    text-align: center;
    flex-direction: column;

    width: 100%;
    
    background-color: #dd99ff;
}
.concert_info_title {
    display: flex;
    flex-grow: 1;
    margin-top: 5%;
    flex-wrap: nowrap;
    flex-flow: row;
}

#space{
    width: 40%;
}
.list_item {
    display: flex;
}
.list_item #concert_img {
    padding: 2%;
    margin-right: 30%;
    height: 60%;
    width: 20%;
}
#img_conci {
    justify-content: flex-start;
    size: 30px;
}
