
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    line-height: 50px;
}

body {
    margin-left: 16%;
    padding-top: 80px;
}

#main {
    position: absolute;
    overflow-y: auto;
    
    height: 91.5%;
    width: 68%;
    
    padding: 25px 30px 20px 30px;
    box-sizing: border-box;
    
    background-color: #e6e6e6;
}

#frameTitle {
    margin-bottom: 10px;
    font-size: 20px;    
}

/* ---------------- Concert Box ---------------- */

#concerts {
    display: inline-flex;
    flex-wrap: wrap;
        
    width: 100%;

    background-color: #e6e6e6;
}
.concert_box {
    border: solid 1px black;
    position: relative;

    height: 380px;
    width: 33.3%;
    
    padding: 15px;
    box-sizing: border-box;
    
    background-color: #e6e6e6;
}
#concert_img {
    height: 60%;
    width: 100%;
}
#concert_info {
    display: block;
    
    width: 100%;

    background-color: #b3b3b3;
}
