
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
    margin-left: 16%;
    padding-top: 80px;
    background-image: url(../images/colorfulimage.png);
}

/* -------------------- Main -------------------- */

#main {
    position: absolute;
    overflow-y: auto;
    
    height: 91.5%;
    width: 68%;
    
    padding: 25px 30px 20px 30px;
    box-sizing: border-box;
}

#frameTitle {
    margin-bottom: 10px;
    font-size: 20px;
}
#frameTitle * {
    display: inline;
}
#frameTitle div:hover {
    cursor: pointer;
}

/* ---------------- Concert Box ---------------- */

#concerts {
    display: flex;
    flex-wrap: wrap;
        
    width: 100%;
}
.concert_box {
    position: relative;
    width: 32%;

    padding: 5px;
    margin-bottom: 10px;
}
#concert_img {
    height: 60%;
    width: 100%;
}
#concert_info {
    display: flex;
    flex-direction: column;

    height: 40%;

    text-align: center;
    background-color: #E0E0E0;
}
.concert_info_title {
    display: flex;
    align-items: center;
    margin: 4%;
    justify-content: space-around;
}
.concert_info_title span {
    font-weight: bolder;
    font-size: 25px;
}

.list_item {
    display: flex;
}
.list_item #concert_img {
    height: 60%;
    width: 20%;

    padding: 2%;
}

.list_item #concert_info{
    flex-direction: row;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
#search {
    display: flex;
    width: 100%;
    height: 40%;
}
#musicos, #locales {
    border: 2px solid black;

    padding: 1%;

    flex-grow: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#tabla {
    width: 100%;
}

#assign_Musician {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}