
/* ---------------- Right Frame ---------------- */

#frame_right {
    position: fixed;
    
    height: 100%;
    width: 16%;
    
    right: 0;
    
    padding: 0 15px;
    box-sizing: border-box;
    
    background-color: #99bbff;
}

#musiciansByGenre, #propertiesByCity {
    position: relative;
    
    height: 380px;
    
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#musiciansByGenre li,
#propertiesByCity li {
    margin-top: 25px;
}
#musiciansByGenre input[type=submit], 
#propertiesByCity input[type=submit] {
    position: absolute;

    height: 45px;
    width: 100%;

    font-size: 15px;
}
#musiciansByGenre_btns,
#propertiesByCity_btns {
    height: 340px;
    overflow-y: auto;
}
#musiciansByGenre {
    margin-top: 10%;
}

/* ------------------ Responsive ------------------ */

@media (max-width: 1500px) {
    .concert_box {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .concert_box {
        width: 100%;
    }
}