
/* ---------------- Right Frame ---------------- */

#frame_right {
    position: fixed;    
    right: 0;

    height: 100%;
    width: 16%;    
    
    padding: 0 15px;
    box-sizing: border-box;
    
    background-color: #99bbff;
}

#musiciansByGenre,
#mostVotedMusicians {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 10%;    
}
#musiciansByGenre li,
#mostVotedMusicians li {
    margin-top: 25px;
}
#musiciansByGenre_btns,
#mostVotedMusicians_btns {
    height: 250px;
    overflow-y: auto;
}
#mostVotedMusicians_btns {
    height: 800px;
}
#musiciansByGenre input[type=submit],
#mostVotedMusicians input[type=submit] {
    position: absolute;

    height: 45px;
    width: 100%;

    font-size: 15px;
}
#musiciansByGenre {
    margin-top: 10%;
}

/* ------------------ Responsive ------------------ */

@media (max-width: 1500px) {
    .concert_box {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .concert_box {
        width: 100%;
    }
}