
/* ---------------- Right Frame ---------------- */

#frame_right {
    position: fixed;
    
    height: 100%;
    width: 16%;
    
    left: 84%;
    
    padding: 0 15px;
    box-sizing: border-box;
    
    background-color: orange;
}

#musiciansByGenre, #propertiesByCity {
    position: relative;
    
    height: 380px;
    
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#musiciansByGenre input[type=submit],
#propertiesByCity input[type=submit] {
    height: 45px;
    width: 100%;
    
    font-size: 15px;
}
#musiciansByGenre_btns,
#propertiesByCity_btns {
    height: 340px;
    overflow-y: auto;
}
#musiciansByGenre {
    margin-top: 10%;
}
