
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

body {
    background-color: white;
}

/* --------------------------- Right Frame --------------------------- */

#frame_right {
    position: absolute;
    
    height: 100%;
    width: 16%;
    
    left: 84%;
    
    padding-top: 80px;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
}

h4{
    font-size: 100%;
    font-family: monospace;
    padding-top: 10%;
}
input{
    height: 100%;
    width: 90%;
    margin-top: 5%;
}

h2{
    font-family: cursive;
    font-size: 130%;
}