
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

body {
    background-color: white;
}
/* --------------------------- Main --------------------------- */
#main {
    position: absolute;
    
    width: 68%;
    
    padding-top: 80px;
    margin-left: 16%;

    box-sizing: border-box;
    background-color: gray;
}

#concerts {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
    
    padding: 20px 30px;
    
    box-sizing: border-box;
    background-color: aqua;
}
#concert_box {
    height: 400px;
    width: 32%;
    
    margin: 10px 0px;
    padding: 20px;
    
    box-sizing: border-box;
    background-color: deeppink;
}
#concert_img {
    width: 100%;
    height: 60%;    
}
#concert_info {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 100%;
}

/* --------------------------- Right Frame --------------------------- */

#frame_right {
    position: absolute;
    
    height: 160%;
    width: 16%;
    
    left: 84%;
    
    padding-top: 90px;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
}

h4{
    font-size: 100%;
    font-family: monospace;
    padding-top: 10%;
}
input{
    height: 100%;
    width: 90%;
    margin-top: 5%;
}

h2{
    font-family: cursive;
    font-size: 130%;
}