/* ------------------ Main ------------------ */

#view_icons img {
    width: 35px;
}
#view_icons img:hover {
    cursor: pointer;
}

.list_item {
    height: 150px;
    width: 100%;
}

.delete_btn {
    float: right;

    height: 25px;
    width: 60px;

    margin-top: -5px;    
    margin-bottom: 10px;

    border-radius: 2px;
}
#assignMusician * {
    float: right;

    height: 35px;
    width: 80px;

    margin-top: -15px;
    margin-left: 5px;

    font-size: 16px;
}
#assignMusician select {
    width: 150px;
    padding: 5px;
}

/* --------------- Right Frame --------------- */

#frame_right {
    position: fixed;
    
    height: 100%;
    width: 16%;
    
    left: 84%;
    
    padding: 30px 15px;
    box-sizing: border-box;
    
    background-color: orange;
}    
#frame_right * {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#frame_right h2,
#frame_right h4 {
    left: 56%;
    font-family: cursive;
}
#frame_right h2 {    
    margin-bottom: 40px;
}
#frame_right h4 {
    margin-top: 22px;
}
#frame_right input,
#frame_right select {
    width: 90%;
    
    margin-top: 8px;
    padding: 10px 10px;
    box-sizing: border-box;
    
    font-size: 14px;
}
