
/* ------------------ Main ------------------ */
    
#main {
    width: 84%;
}

/* --------------- Concert Box --------------- */

#concert_sub,
#concert_unsub {
    position: absolute;
    
    height: 40px;
    width: 20%;
    
    bottom: 20px;
    right: 20px;
    
    font-size: 18px;
}
#concert_unsub {
	width: 25%;
}