
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

body {
    margin-left: 16%;
    background-color: white;
}

/* ------------------------------ Main ------------------------------ */

/* #7F7F7F  */
#display{
    background-color: #E5E5E5;
    width:98%;
    height:68em;
    padding: 1%;
    display: flex;
}

#top-part{
    display: flex;
    width:23%;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
}

#image_box{
    display: flex;
    border: 5px solid black;
    border-radius: 40%;
    height:15em;
    margin-right:2em;
    flex-grow: 1;
}

#profile_general_info{
    flex-grow: 1;
    justify-content: center;
    margin-left: 2%;
    font-size: 2em;
}

#profile_specific_info{
    flex-grow: 2;
    justify-content: center;
    align-items: stretch;
    margin-left: 2%;
    font-size:2em;
}

#submit_Button{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

input{
    color: #962;
    padding: 1%;
    font-size:1em;
}

#username, input[type="text"], input[type="email"], #city{
    margin:1em;
}

div #artist_name, #genre, #surname, #phone, #webpage, #group_size{
    height: 2em;
    color: #962;
    padding: 1%;
}

input[name="button"]{
    font-size:2em;
}

select{
    height:2em;
    width:15em;
    font-size:0.7em;
}