
* {
    margin: 0;
    padding: 0;
}

p {
    line-height: 50px;
}

body {
    margin-left: 16%;
    background-color: white;
}

/* ------------------------------ Main ------------------------------ */


#display{
    background-color: lightslategray;
    width:98%;
    height:60em;
    padding: 1%;
}

#container{
    display: flex;
}

#image_box{
    border: 5px solid black;
    border-radius: 12%;
    height:10em;
    margin-right:2em;
    flex-grow: 1;
}

#profile_general_info{
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    margin-left: 2%;
    font-size: 2em;
}

#profile_specific_info{
    flex-grow: 4;
    justify-content: center;
    align-items: stretch;
    margin-left: 2%;
    font-size:2em;
}

input{
    color: #962;
    padding: 1%;
    font-size:1em;
}

#username, input[type="text"], input[type="email"], #city{
    margin:1em;
}

div #artist_name, #genre, #surname, #phone, #webpage, #group_size{
    height: 2em;
    color: #962;
    padding: 1%;
}

input[name="button"]{
    font-size:2em;
}
