
/* ------------------------------ Main ------------------------------ */

#main {
    width: 84%;
    padding: 50px;
}

#edit_submit {
    position: absolute;
    top: 5%;
    right: 5%;

    height: 2.8em;
    width: 10em;
}

#container {
    display: flex;
    width: 70%;
    font-size: 1.5em;
}

#profile_general_info,
#profile_specific_info {
    width: 50%;
}
#profile_specific_info {
    padding-top: 28px;
}
#profile_general_info *,
#profile_specific_info * {
    display: block;
}

#profile_img {
    height: 11em;
    width: 70%;

    border: solid black 3px;
    border-radius: 15%;
}

#fieldTitle {
    margin: 25px 0 8px 0;
}

input,
select {
    height: 2em;
    width: 62%;

    padding: 8px;
    box-sizing: border-box;

    font-size: 1em;
    color: #962;
}
select {
    padding: 0 8px;
}