
#c-slider{
    margin: auto;
    width: 85%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
    0 15px 50px;
}
/* width = 400% -> depende de las imagenes que haya */
#slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    width: 400%;
}

#slider section{
    width: 100%;
}

#slider img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#btn-prev, #btn-next{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#btn-prev:hover, #btn-next:hover{
    background: rgba(255, 255, 255, 1);
}

#btn-prev{
    left: 10px;
}
#btn-next{
    right: 10px;
}