
#c-slider{
    margin: auto;
    width: 85%;
    max-width: 900px;
    position: relative;
    overflow: hidden;
}
/* width = 400% -> depende de las imagenes que haya */
#slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    width: 400%;
}

#slider section{
    width: 100%;
}

#slider img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
